.wrapper {
    position: relative;
    padding-top: rem(10px);
    padding-bottom: rem(10px);
    background-image: url(https://images.unsplash.com/photo-1563520239648-a24e51d4b570?q=80&w=2000&h=400&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    height: rem(260px);

    @media (max-width: $ mantine-breakpoint-xs) {
        padding-top: rem(10px);
    }
}

.inner {
    position: relative;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
}

.title {
    font-weight: 800;
    font-size: rem(40px);
    letter-spacing: rem(-1px);
    color: var(--mantine-color-white);
    margin-bottom: var(--mantine-spacing-xs);
    /*text-align: center;*/
    font-family: Greycliff CF, var(--mantine-font-family);

    @media (max-width: $ mantine-breakpoint-xs) {
        font-size: rem(28px);
        text-align: left;
    }
}

.highlight {
    color: var(--mantine-color-primary-4);
}

.description {
    color: var(--mantine-color-gray-0);
    text-align: left;
    max-width: rem(650px);

    @media (max-width: $ mantine-breakpoint-xs) {
        font-size: var(--mantine-font-size-md);
    }
}

.tags {
    display: flex;
    justify-content: flex-start;

    @media (max-width: $mantine-breakpoint-xs) {
        flex-direction: column;
    }
}

.link {
    position: absolute;
    top: rem(10px);
    right: rem(10px);
}